@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::selection {
    background-color: #FF3040; /* Your desired selection color */
    color: white;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
