/* Animation for expanding */
@keyframes expandFromOrigin {
  0% {
    transform: scale(0.2);
    border-radius: 100%;
  }

  100% {
    transform: scale(1);
    border-radius: 0;
  }
}

/* Animation for content fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Apply animations to elements */
.expanding-div {
  animation: expandFromOrigin 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  transform-origin: center;
  will-change: transform, border-radius;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.2s;
}